/*
Tenemos 3 tipos de selectores principales
por id ->#nombre
por tagname-> p
por clase -> .contenedor (cualquier nombre)
Eje:
.contenedor{
    background-color: black;
    width: 100%;
    height:200px;
    color:white;
}

 */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    max-width: 100%;
}

.contenedor{
    background-color: black;
    width: 100%;
    height:50px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    position: fixed;

}
.contenedor a{
    text-decoration: none;
    color:white;
}
.contenedorLT{
    margin: auto;
}
.lista1{
    display: flex;
}

.col-1{
    width: 8.33%;
}
.col-2{
    width: 16.66%
}
.col-3{
    width: 25%;
}
.col-4{
   width: 33.33%;
}
.col-5{
    width: 41.66%;
}
.col-6{
    width: 50%;
}
.col-7{
    width: 58.33%;
}
.col-8{
    width: 66.66%;
}
.col-9{
    width: 75%;
}
.col-10{
    width: 83.33% ;
}
.col-11{
    width: 91.66%;
}
.col-12{
    width: 100%;
}

header,footer{
    background-color: darkgray;
}
header,footer,.contenedorHijos,.contenedorHijos div{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Verdana, sans-serif;
}

header{
    height: 100vh;

    margin-bottom: 50px;
}
footer{
    margin-top: 50px;
    height: 200px;
}
.contenedorHijos{
    margin: 25px auto;

}
.contenedorHijos div{
    height: 300px;
    margin: 25px;
    padding: 25px;
    background-color: darkgray;
}
.img-1,.img-2,.img-3,.img-4,.img-5,.img-6,.img-7,.img-header{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}
.img-1{
    background-image: url("../images/s1.jpg");
}
.img-2{
    background-image: url("../images/s2.jpg");
}
.img-3{
    background-image: url("../images/s3.jpg");
}
.img-4{
    background-image: url("../images/s5.jpg");
}
.img-5{
    background-image: url("../images/s5.jpg");
}
.img-6{
    background-image: url("../images/s6.jpg");
}
.img-7{
    background-image: url("../images/s7.jpg");
}
.img-1:hover{
    filter: blur(1px);
}
.img-2:hover{
    filter: grayscale(80%);
}
.img-3:hover{
    filter: sepia(60%);
}
.img-4:hover{
    transform: scale(1.1);
}
.img-5:hover{
    animation-name: animacion-img-5;
    animation-duration: 5s;
}
.img-6:hover{
    transform: scale(2.1);
}
.img-header {
    background-image: url("../images/s8.jpeg");

}
.img-7:hover{
    animation-name: animacion-img-7;
    animation-duration: 7s;
}
@keyframes animacion-img-7 {
    0%{transform:scale(1.1)}

}

@keyframes animacion-img-5 {
    0%{filter:sepia(80%)}
    25%{filter:grayscale(80%)}
    50%{filter:opacity(80%)}
    75%{transform:scale(1.1)}
    100%{transform:rotate(90deg)}
}

@media only screen and (width<=768px){
    [class*="col-"]{/* todas las clases que comiencen con col-*/
        width: 100%;
    }
    .contenedorHijos{
        flex-direction: column;
    }
}
@media only screen and (width>768px)and (width<=992px){
    .col-1,.col-2,.col-3,.col-4,.col-5{
        width: 50%;
    }
    .col-7,.col-8,.col-9,.col-10,.col-11{
        width: 100%;
    }

}

.formulario{
    background-color: rgba(240, 248, 255, 0.59);
    height: 400px;
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.formulario input{
    margin: 25px;
    padding: 10px;
    border: none;
    border-bottom: 2px solid black;
    background-color: rgba(169,169,169,0);
}

.borde-linea{
    border: 3px solid darkslategrey;
}
.borde-doble{
    border: 3px double darkslategrey;
}
.borde-puntos{
    border: 1px dotted red;
}
.borde-guiones{
    border: 2px dashed blue;
}
.borde-redondo{
    border-radius:5px;
}
.border-redondo-abajo{
    border-radius:0 0 10px 10px ;
}
.borde-redondo-arriba{
    border-radius: 10px 10px 0 0;
}
.borde-sombra{
    box-shadow: 10px 10px 5px 0px rgba(148,24,148,1);;
}

.formulario .boton{
    min-width: 130px;
    height: 40px;
    color: #fff;
    padding: 5px 10px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
    outline: none;
    border-radius: 5px;
    border: none;
    background: #3a86ff;
    box-shadow: 0 5px #4433ff;
}
.formulario .boton:hover{
    box-shadow: 0 3px #4433ff;
    top: 1px;
}
.formulario .boton:active{
    box-shadow: 0 0 #4433ff;
    top: 5px;
}




